body {
  width: 100%;
  background: #e5e7eb;
  position: relative;
  display: flex;
}
#menu {
  background: linear-gradient(45deg, #fab2ff 10%, #1904e5 100%);
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
  border-radius: 70%;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  text-align: center;
  list-style: none;
  padding: 30px 0;
  transition: 10s ease-in;
}

#menu .items li:hover {
  background: #07b5ea;
  cursor: pointer;
}

#menu .items li:nth-child(n):hover {
  border-left: 4px solid #fff;
  cursor: pointer;
}

#menu .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
  color: #f3f4f6;
}

#menu .items li {
  text-decoration: none;
  color: rgb(254, 250, 250);
  font-weight: 300px;
  transition: 0.3s ease;
  font-size: large;
}
.excel {
  width: 100%;
  align-content: center;
  margin-top: 2rem;
  font-size: 17;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#inter {
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

#inter .navi {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-bottom: 3px solid #594ef7;
  position: relative;
}
.upload {
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 4px;
  background-color: #0016b988;
  color: #ffff;
}
.upload:hover,
#sem:hover {
  background-color: #07b5ea;
  cursor: pointer;
}
#input_excel_file,
#exam_name,
#college_name {
  margin-left: 4px;
  border: none;
  border-style: none;
  outline: none;
  background-color: #e5e7eb;
  border-bottom: 1px solid black;
}
#result {
  font-size: 15;
  background-color: #ffffff;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
#sem {
  width: 4rem;
  height: 1.5rem;
  border-style: none;
  border-radius: 4px;
  background-color: #0016b988;
  color: #ffff;
}
a {
  text-decoration: none;
}
.boxy {
  position: fixed;
  margin-top: 10rem;
  background: #ffffff;
  margin-left: 35rem;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 1 50;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 20px 10px #605b5c90;
}
#menu {
  background: linear-gradient(45deg, #fab2ff 10%, #1904e5 100%);
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
  border-radius: 70%;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  text-align: center;
  list-style: none;
  padding: 30px 0;
  transition: 10s ease-in;
}

#menu .items li:hover {
  background: #07b5ea;
  cursor: pointer;
}

#menu .items li:nth-child(n):hover {
  border-right: 4px solid #fff;
  cursor: pointer;
}

#menu .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
  color: #f3f4f6;
}

#menu .items li {
  text-decoration: none;
  color: rgb(254, 250, 250);
  font-weight: 300px;
  transition: 0.3s ease;
  font-size: large;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px;*/
  z-index: 1;
  color: #1904e5;
}

.dropdown:hover .dropdown-content,
#menu .items li:hover,
#menu .items li:hover i,
#menu .items li:hover a {
  display: block;
}
