@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.boxy .right {
  padding: 1rem;
  overflow: hidden;
}

.boxy .right p {
  font-size: 14px;
  color: #b0b3b9;
}

.boxy .right .inputs {
  overflow: hidden;
}

.boxy .right input {
  width: 100%;
  padding: 5px;
  margin-top: 0.5rem;

  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #351945;
}

.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 2px 4px 20px 1px #49c628a6;
  background-image: linear-gradient(135deg, #70f570 10%, #49c628 100%);
}

.boxy {
  position: absolute;
  top: 50%;
  /* bottom: 50%;
      right:25%; */
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0.2rem auto;
  width: 60%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  /*margin-top: 2rem;*/
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 20px 10px #605b5c90;
  padding: 2rem 2rem;
}

.upload {
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 4px;
  background-color: #0016b988;
  color: #ffff;
}
.upload:hover {
  background-color: #07b5ea;
  cursor: pointer;
}

input::file-selector-button {
  font-weight: bold;
  background-color: #0016b988;
  color: #ffffff;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

input::file-selector-button:hover {
  background-color: #07b5ea;
  cursor: pointer;
}

#messages {
  background-color: white;
  color: red;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
