@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Poppins", sans-serif;
}

body {
  width: 100%;
  background: #e5e7eb;
  position: relative;
  display: flex;
}

#menu {
  background: linear-gradient(45deg, #fab2ff 10%, #1904e5 100%);
  width: 300px;
  height: 100%;
  position: fixed;

  top: 0;
  left: 0;
}

#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
  border-radius: 70%;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  text-align: center;
  list-style: none;
  padding: 30px 0;
  transition: 10s ease-in;
}

#menu .items li:hover {
  background: #07b5ea;
  cursor: pointer;
}

#menu .items li:nth-child(n):hover {
  border-left: 4px solid #fff;
  cursor: pointer;
}

#menu .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
  color: #f3f4f6;
}

#menu .items li {
  text-decoration: none;
  color: rgb(254, 250, 250);
  font-weight: 300px;
  transition: 0.3s ease;
  font-size: large;
}

.container {
  width: 7000px;
  margin-left: 350px;
  margin-right: 50px;
}

h1 {
  text-transform: uppercase;
  margin-left: -1px;
  margin-bottom: 50px;
  border-bottom: 3px rgb(0, 102, 255) solid;
  text-align: center;
}
h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
ul {
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  color: #07b5ea;
}

li {
  list-style-type: square;
}
