body {
  background-color: #e5e7eb;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  align-items: center;
  position: inherit;
}

.box-form {
  position: relative;
  margin: 0.2rem auto;
  margin-top: 15em;
  margin-left: 40em;
  max-width: 500px;
  background: #ffffff;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 20px 15px #0000006e;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.box-form div {
  height: auto;
  width: 100%;
}

.box-form .right {
  padding: 1rem;
  overflow: hidden;
}

/* @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }*/

.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}

.box-form .right .inputs {
  overflow: hidden;
}

.box-form .right input {
  width: 100%;
  padding: 5px;
  margin-top: 0.5rem;

  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #351945;
}

/* .box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 2px 4px 20px 1px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }*/
.upload {
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 4px;
  background-color: #0016b988;
  color: #ffff;
}
.upload:hover,
#sem:hover {
  background-color: #07b5ea;
  cursor: pointer;
}
#sem {
  width: 4rem;
  height: 1.5rem;
  border-style: none;
  border-radius: 4px;
  background-color: #0016b988;
  color: #ffff;
}
#menu {
  background: linear-gradient(45deg, #fab2ff 10%, #1904e5 100%);
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#menu .logo {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
  border-radius: 70%;
}

#menu .items {
  margin-top: 8px;
}

#menu .items li {
  text-align: center;
  list-style: none;
  padding: 30px 0;
  transition: 10s ease-in;
}

#menu .items li:hover {
  background: #07b5ea;
  cursor: pointer;
}

#menu .items li:nth-child(n):hover {
  border-left: 4px solid #fff;
  cursor: pointer;
}

#menu .items li i {
  color: black;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
  color: #f3f4f6;
}

#menu .items li {
  text-decoration: none;
  color: rgb(254, 250, 250);
  font-weight: 300px;
  transition: 0.3s ease;
  font-size: large;
}

a {
  text-decoration: none;
}
#messages {
  background-color: white;
  color: red;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
